{% extends 'base.html' %} 
{% block content %}
<h1>About the Cradle Chronicles</h1>
<hr />
<p class="page-content">
    Cradle Chronicles is a web application that allows parents to track and document their child's milestones, growth, and development. It provides a user-friendly interface for parents to create profiles for their children, add important information, and share updates with family and friends. The application aims to help parents capture precious moments and create lasting memories of their child's journey through the early years.
</p>
{% endblock %}
