{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/milestones/milestones-index.css' %}"
/>
{% endblock %} {% block content %}

<section class="card-container">
    {% for milestone in milestones %}
        <div class="card">
        <a href="{% url 'milestone-detail' milestone.id %}">
            <div class="card-content">
            <div class="card-img-container">
                <img
                src="{% static 'images/milestone-default.jpg' %}"
                alt="{{ milestone.title }}"
                />
            </div>
            <h2 class="card-title">{{ milestone.title }}</h2>
            <p>{{ milestone.description }}</p>
            </div>
        </a>
        </div>
    {% endfor %}
</section>

{% endblock %}

            {% comment %} {% else %}
            <p> {{ milestone.title }} </p>
            {% endif %}
            <p><small>{{ milestone.description }}</small></p>
            </div>
        </a>
        </div>
    {% endfor %}
</section>


{% endblock %} {% endcomment %}
